@page
@model renieldavid.webdev.Pages.Manage.StreamingServices.Index
<h3>StreamingAndServices</h3>

<div class="search">
    <i class="bi bi-search"></i>
    <input type="text" class="form-control" placeholder="Search" id="search">
</div>

<div class="row">
    <div class="col-3">
        <div class="form-group">
            <label for="">Sort By</label>
            <select class="form-control" id="sortBy" asp-for="View.StreamingAndServices.SortBy">
                <option value="">choose</option>
                <option value="">Title</option>
                <option value="description">Description</option>
                <option value="abbreviation">Abbreviation</option>
            </select>
        </div>
    </div>
    <div class="col-3">
        <div class="form-group">
            <label for="">Sort Order</label>
            <select class="form-control" id="sortOrder" asp-for="View.StreamingAndServices.SortOrder">
                <option value="1">Ascending</option>
                <option value="2">Descending</option>
            </select>
        </div>
    </div>
    div class="row">
    <div class="col-3">
        <div class="form-group">
            <label for="">Sort By</label>
            <select class="form-control" id="sortBy" asp-for="View.StreamingAndServices.SortBy">
                <option value="">choose</option>
                <option value="">Title</option>
                <option value="description">Description</option>
                <option value="abbreviation">Abbreviation</option>
            </select>
        </div>
    </div>

</div>
<div class="row">
    <div class="col-2">
        <a href="~/manage/Video/create" class="btn btn-primary">Create New</a>
    </div>
</div>


@{
    if (Model.View != null && Model.View.StreamingAndServices != null && Model.View.StreamingAndServices.Items != null && Model.View.StreamingAndServices.Items.Count > 0)
    {
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Description</th>
                    <th scope="col">Abbreviation</th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var streamingAndService in Model?.View?.StreamingAndServices.Items)
                    {
                        <tr>
                            <th scope="row">@streamingAndService.Title</th>
                            <td>@streamingAndService.Description</td>
                            <td>@streamingAndService.Abbreviation</td>
                        </tr>
                    }
                }
            </tbody>
        </table>

        <nav aria-label="Page navigation example">
            <ul class="pagination">
                @{
                    if (Model?.View?.StreamingAndServices.PageIndex > 1)
                    {
                        <li class="page-item"><a class="page-link" href="/manage/streamingservices?pageIndex=@(Model?.View?.StreamingAndServices.PageIndex-1)&pageSize=@(Model?.View?.StreamingAndServices.PageSize)&sortBy=@(Model?.View?.StreamingAndServices.SortBy)&sortOrder=@(Model?.View?.StreamingAndServices.SortOrder)">Previous</a></li>
                    }

                    <li class="page-item"><span class="page-link">page @Model?.View?.StreamingAndServices.PageIndex of @Model?.View?.StreamingAndServices.PageCount (@Model?.View?.StreamingAndServices.TotalRows total rows)</span></li>


                    if (Model?.View?.StreamingAndServices.PageIndex < Model?.View?.StreamingAndServices.PageCount)
                    {
                        <li class="page-item"><a class="page-link" href="/manage/streamingservices?pageIndex=@(Model?.View?.StreamingAndServices.PageIndex+1)&pageSize=@(Model?.View?.StreamingAndServices.PageSize)&sortBy=@(Model?.View?.StreamingAndServices.SortBy)&sortOrder=@(Model?.View?.StreamingAndServices.SortOrder)">Next</a></li>
                    }
                }
            </ul>
        </nav>
    }
    else
    {
        <div>There are no records to show.</div>
    }
}

@section Scripts
    {
    <script>
        $("#search").keyup(function (event) {
            if (event.keyCode === 13) {
                window.location = "/manage/streamingservices?keyword=" + $("#search").val();
            }
        });

        $("#sortBy").change(function () {
            window.location = "/manage/streamingservices?keyword=@(Model.View.StreamingAndServices.Keyword)&sortBy=" + $("#sortBy").val() + "&sortOrder=" + $("#sortOrder").val();
        });

        $("#sortOrder").change(function () {
            window.location = "/manage/streamingservices?keyword=@(Model.View.StreamingAndServices.Keyword)&sortBy=" + $("#sortBy").val() + "&sortOrder=" + $("#sortOrder").val();
        });
    </script>
}
